<div class="text-center">
    <h1 class="text-info pt-4">Obrigado, sua compra foi registrada com sucesso.</h1>
    <p class="pb-3">Nos recebemos seu pedido com sucesso e seu pagamento será processado em breve!</p>    
</div>
